<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>stringify</Title>
    <Author></Author>
    <Shortcut>stringify</Shortcut>
    <Description>Code Snippet to stringify a Javascript value using JSON</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript"><![CDATA[JSON.stringify($end$)]]></Code>
  </Snippet>
</CodeSnippet>