<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>strict</Title>
    <Author></Author>
    <Shortcut>strict</Shortcut>
    <Description>Code snippet for invoking strict mode</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Code Language="JavaScript"><![CDATA['use strict';
$end$]]></Code>
  </Snippet>
</CodeSnippet>